:root {
  --primary-color: #4aa552;
  --background-color: #f8f9fa;
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --input-border: 1px solid #ced4da;
}


.container{
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.form {
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}

.form-group-dropdown {
  margin-bottom: 1.2rem;
}

.form-group-text {
  margin-bottom: 0.2rem;
}

.form-label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: 500;
  color: #495057;
}

.form-input, .form-submit {
  width: 100%;
  padding: 0.4rem;
  border: var(--input-border);
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.form-submit {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}